.demo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    color: white;
  }
  
  .input-section, .output-section, .recording-section {
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }
  
  h2, h3 {
    margin-bottom: 15px;
  }
  
  textarea {
    /* Styles from your theme */
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #282c34;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    resize: vertical;
  }
  
  textarea::placeholder {
    color: #bbb;
  }
  
  textarea:focus {
    outline: none;
    border: 1px solid #004e92;
  }
  
  .button {
    /* Styles from your theme */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e4451;
  }
  
  .questions {
    background-color: rgba(255, 255, 255, 0.5);
   
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-wrap;
    }
    
    .interview-summary {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 10px;
    }

    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #282c34;
        background-color: rgb(255, 255, 255);
        font-size: 1em;
      }
      
      select:focus {
        outline: none;
        border-color: #004e92;
      }
      
    
    @media (max-width: 768px) {
    .demo-container {
    grid-template-columns: 1fr;
    }
    }