.footer {
    text-align: center;
    padding:10px;
    color: #333; /* Example text color */
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    background-color: transparent; /* No background color */
    border-top: 1px solid rgba(255, 255, 255, 0.5); /* White semi-transparent top border */
  }
  