.interview-questions-container {
  /* width: 90%;
  max-width: 90%; */
  /* margin: auto; */
  text-align: left;
  padding: 10px;
  background-color: #1a1a1a; /* Matching the dark theme */
  color: #fff; /* Ensuring text is readable */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.questions-container {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  text-align: left;
  white-space: pre-wrap;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  background-color: rgba(255, 255, 255, 0.1); /* Matching the previous theme */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question {
  text-align: left;
  width: 90%;
  max-width: 90%;
  color: white; /* Changed for better visibility */
  background-color: rgba(40, 44, 52, 1); /* Matching the input background */
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px; /* Uncommented for spacing between questions */
}

.questions-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@media (max-width: 768px) {
  .interview-questions-container, .question {
    width: 100%; /* Full width in smaller screens */
    max-width: 100%;
   
  }

  .questions-container {
    height: auto; /* Adjust height for better readability on small screens */
  }
}
