.json-display-flex {
  background-color: #505050;
  border-radius: 8px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 80px;
  overflow: hidden;
}

.user-profile {
  flex: 0 0 25%; /* Keep the user profile at 25% width */
  text-align: center;
  padding-top: 40px;
  background-color: #303333;
}

.user-profile img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.json-carousel-container {
  padding-left: 40px;
  flex: 1; /* Take up the remaining space */
  text-align: left;
}

.carousel .slide {
  text-align: left !important;
  background-color: transparent;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .json-display-flex {
    flex-direction: column; /* Stack elements vertically */
    margin: 10px 0px; /* Adjust margins for smaller screens */
  }

  .user-profile, .json-carousel-container {
    flex: none; /* Disable flex sizing */
    width: 100%; /* Full width for smaller screens */
    padding: 10px; /* Adjust padding for a tighter layout */
    text-align: center; /* Center-align content for a cohesive look */
  }

  .user-profile {
    padding-top: 10px; /* Less padding on top for a tighter header */
  }

  .user-profile img {
    max-width: 150px; /* Smaller profile picture on smaller screens */
  }

  .json-carousel-container {
    padding-left: 0; /* Remove extra padding on the left for carousel */
  }
}
