/* .recording-section {
  padding: 20px;
  background: linear-gradient(to right, #26D0CE, orange);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
} */

.instructions {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.recording-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.audio-control-btn {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.audio-control-btn:hover {
  background-color: #f0f0f0;
}

.recordings-table {
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.recording-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.recording-row span {
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.recording-section audio {
  height: 30px;
  width: 100%;
  margin: 0;
}

.delete-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
  width: 40px !important;
}
