.recording-section {
  padding: 20px;
  background-color: #1a1a1a; 
  border-radius: 8px;
  color: #fff; 
}

.recording-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recordings-table {
  max-height: 100px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.recording-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.recording-row span {
  margin-left: auto; /* Push the span to the right */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.recording-section audio {
  height: 30px;
  width: 100px;
  margin:0;
}

.delete-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
  width: 40px !important; /* Fixed width for the delete button */
}