.interview-summaries {
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: left; /* Aligning content to the left */
}



.summary-section .section-content {
    flex-grow: 1;
}

.summary-section h4, .summary-section h5 {
    margin: 0;
    /* Aligning headings to the left */
    text-align: left; 
}

.icon {
    font-size: 30px;
    margin-right: 15px;
}

.summary-section ul {
    list-style-type: none;
    padding: 0;
}

.summary-section ul li {
    background-color: #606060;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
}
.transcription-section {
    max-height: 100px !important;
    overflow-y: auto;
    background-color: #505050;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.spinner {
    display: block;
    margin: 20px auto;
    font-size: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
