/* Summary.css */
.interview-summaries {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
}

.summary-section {
    background-color: #505050;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    text-align: left;
}

.summary-section .section-content {
    flex-grow: 1;
}

.summary-section h4, .summary-section h5 {
    margin: 0;
    text-align: center;
}

.icon {
    font-size: 30px;
    margin-right: 15px;
}

.summary-section ul {
    list-style-type: none;
    padding: 0;
    max-height: 200px; /* Maximum height set for the list */
    overflow-y: auto; /* Enable vertical scrolling for the list */
}

.summary-section ul li {
    background-color: #606060;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.spinner {
    display: block;
    margin: 20px auto;
    font-size: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
